@import '../../../mixin'

.icon-weather
  width 24px
  height 24px
  background-size contain
  background-position center
  background-repeat no-repeat
  
  &--status-200
    background-image url('./svg/16.svg')

  &--status-300
    background-image url('./svg/18.svg')

  &--status-500
    background-image url('./svg/17.svg')

  &--status-600
    background-image url('./svg/23.svg')

  &--status-700
    background-image url('./svg/12.svg')

  &--status-800
    background-image url('./svg/2.svg')

  &--status-80x
    background-image url('./svg/8.svg')
